@import 'constants';
@import 'layouts/header';

body{
    background-color: $gray_color;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
a{
    text-decoration: none;
    transition: 0.3s all;
}
li{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans';
    
    th{
        color: #fff;
        padding: 5px 0px;
    }
    a{
        color: $main_color;
        border-bottom: 1px solid;

        &:hover{
            color: $second_color
        }
    }
    .image{
        background-color: $black_color;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 10px auto;
    }
}
tbody{
    tr{
        border-bottom: 1px solid #ccc;
    }
}

main{
    margin-bottom: 200px;
    
    >.header{
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 18px;
        color: $black_color;
    }

    .content{
        background-color: #fff;
        box-shadow: 5px 5px 5px #ccc;
        margin: 0px $page_margin;

        .header{
            background-color: $black_color;
        }
    }
}

.button_section{
    padding: 20px $page_margin;
    text-align: right;

    .button{
        background-color: $main_color;
        color: #fff;
        transition: 0.3s all;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid $main_color;
        font-size: 14px;
        cursor: pointer;

        &:hover{
            background-color: #fff;
            color: $main_color;
        }
        &--delete{
            background-color: #d50000;
            border-color: #d50000;

            &:hover{
                color: #d50000;
            }
        }
    }
    
}

.badget{
    background-color: #d50000;
    color: #fff;
    padding: 3px 10px;
    border-radius: 20px;

    &__done{
        background-color: green;
    }

    &__inprocess{
        background-color: #1565c0;
    }
}
.modal{
    &__container{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        display: block;
    }
    &__overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,.5);
    }
    &__content{
        width: 280px;
        height: 180px;
        background-color: #fff;
        margin: 15% auto;
        border-radius: 5px;
        padding:  20px;
        box-shadow: 1px 1px 10px #ccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
    }
}