@import 'main';

input, textarea{
    transition: 0.3s border ease-in-out;
}
 .content{
     padding: 20px;
 }
.product{
    padding: 50px;
    position: relative;

    &__cover{
        width: 200px;
        height: 200px;
        background-color: #ccc;
        border-radius: 50%;
        margin: auto;

        i{
            position: relative;
            color: $main_color;
            top: 75px;
            font-size: 3.5em;
            left: 75px;
        }
    }
    &__cover_btn{
        position: absolute;
        left: 53%;
        top: 75%;
        color: #fff;
        background-color: $main_color;
        padding: .5rem .5rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            background-color: $second_color;
        }
    }
} 
form{
    display: none;
}

.form{
    label{
        font-weight: bold;
        font-size: 16px;
    }
    
    input, textarea{ 
        width: 100%;  
        height: 50px;
        padding: 20px 200px;  
        margin: 5px 0 20px 0;  
        display: inline-block;  
        border: none;  
        background: #ccc;  
        font-size: 14px;
        padding: .2em .5em;
    
        &:focus{
            border: 1px solid $main_color;
            outline: none;
            color: $black_color;
    
            &::placeholder{
                opacity: 0;
            }
        }
        
    } 
    textarea{
        height: 200px;
        padding: 10px;
        resize: none;
    }
    
}
.button_section{
    margin-top: 20px;
    text-align: center;

    .button{
        margin: 0 20px;
    }
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);

    .container{
        background-color: #fff;
        height: 500px;
        width: 500px;
        padding: 20px;
        margin: 3% auto;
    }
}
.overlayer{
    position: absolute;
		left: 0px;
        bottom: 0px;
        top:0px;
        right:0px;
	width: 100%;
	height: 200%;
	transition: 0.2s all;
	z-index: 9999;
    display: block;
    background-color: rgba($color: #616161, $alpha: 0.5);

    &__quit{

        color: #fff;
        margin:30px;
        text-align: right;
        font-size: 1.2em;
        
        cursor:pointer;

        i{

            background-color: rgba(0,0,0,0.4);
            border-radius:50%;
            padding:10px 13px;

            &:hover{
                background-color: rgba(0,0,0,0.7);
            }
        }

    }
}

.cover_crop{

    width: 900px;
    margin: auto;
    text-align:center;

    &__preview{

        width: 100%;
        overflow: hidden;

    }

}