@import 'main';

table{
    text-align: left;

    .image__container{
        width: 100px;
    }

    .image{
        background-color: #fff;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i{
        font-size: 40px; 
        color: $black_color;
    }
    .user{
        li{
            font-size: 14px;
        }
        .name{
            font-size: 16px;
            font-weight: bold;
        }
        span{
            font-weight: lighter;
            padding: 0px 20px;
        }
    }

}