<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="temp/libraries/css/all.min.css">
    <link rel="icon" href="src/images/logo.png">
    <script src="lib/vue.js"></script>
    <script src="src/js/akana.js"></script>
    <script>
        const tkn = ManageCookie.get('tkn');
        if(tkn != null) window.location.replace("/orders.html"); 
        let url = new URL(location.href);
        const r = url.searchParams.get('r');
        if(r != null && r == "0") {var msg = "You must authenticate yourself."};
    </script>
    <title>Login - Fesdone collection</title>
</head>
<body>
    <div id="app">
        <main>
            <div class="form">
                <div v-if="r != null && r == 0"  class="form__errors">
                    <p>{{ msg }}</p>
                </div>
                <div class="form__content">
                    <h1>Log in</h1>
                    <ul>
                        <li>
                            <label for="username">Username</label>
                            <input v-model="username" type="text" id="username" placeholder="Enter your username">
                        </li>
                        <li>
                            <label for="password">Password</label>
                            <input v-model="password" type="password" id="password" placeholder="Enter your password">
                        </li>
                        <li class="button_section">
                            <button @click="submit" class="button">Connexion</button>
                        </li>
                    </ul> 
                </div>
                <div class="form__footer">© 2021, Fesdone Collection {{ test }}</div>
            </div>
        </main>
    </div>

    <script src="src/components/header.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                r: r,
                msg: msg,
                is_loading: false,
                is_error: false,
                username: null,
                password: null,
                test: "yoko 2021"
            },
            methods: {
                submit: function(){
                    let form = new FormData();
                    let xhr = new XMLHttpRequest();
                    let url = Akana.BRIDGE + "/users/login/";

                    form.append('username', this.username);
                    form.append('password', this.password);
                    
                    // handle when the xhr request has been finished to load with success or errors
                    (function(elem, func){
                        elem.addEventListener("loadend", function(e){
                            switch(xhr.status){
                                case 400:
                                    func(JSON.parse(xhr.responseText)['message']);
                                    break;
                                case 200:
                                    ManageCookie.set("tkn", JSON.parse(xhr.responseText)['token'])
                                    window.location.replace("/orders.html"); 
                                    break;
                            }
                        });
                    })(xhr, this.show_error_message);

                    xhr.open("POST", url);
                    xhr.send(form);
                },
                show_error_message: function(message){
                    this.r = 0;
                    this.msg = message;
                },
            }
        });
    </script>
</body>
</html>