<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/product_modifier.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="temp/libraries/css/all.min.css">
    <link rel="icon" href="src/images/logo.png">
    <script src="lib/vue.js"></script>
    <script src="src/js/akana.js"></script>
    <script src="src/js/constants.js"></script>
    <script src="src/js/check_user.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/croppie.min.js"></script>
    <link rel="stylesheet" href="lib/croppie.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Edit product - Fesdone collection</title>
</head>
<body>
    <div id="app">
        <c-loader></c-loader>
        <c-header></c-header>
        <main>
            <div class="header">
                <h1>Ajouter un nouveau produit</h1>
            </div>
            <div class="content">
                <div class="product" >
                    <div  class="product__cover" id="imagePreview"><img src=""><i class="fas fa-image"></i></div>
                    <form enctype="multipart/form-data">
                        <input type="file" class="file_input" id="file_input">
                    </form>
                    <label for="file_input"><i class="fas fa-camera product__cover_btn"></i></label>
                </div>
                <div class="form">
                    <label for="">Nom</label>
                    <input v-model="name" class="name" id="ProductName" type="text" placeholder="Entrer le nom du produit" maxlength="50"/>
                    
                    <label for="">Type</label>
                    <select v-model="type" name="type" id="type">
                        <option value="tshirt">T-shirt</option>
                        <option value="shoes">Chaussures</option>
                        <option value="glasse">Lunettes</option>
                        <option value="watch">Montres</option>
                    </select>

                    <label for="">Taille</label>
                    <input v-model="size" class="name" id="ProductSizeInBytes" type="text" placeholder="Entrer la taille du produit" maxlength="11"/>

                    <label for="">Prix</label>
                    <input v-model="price" class="name" id="ProductPriceInBytes" type="number" placeholder="Entrer le prix du produit" maxlength="11"/>

                    <label for="" asp-for="ProductDescription" >Description</label>
                    <textarea v-model="description" class="information" id="ProductDescription"
                        placeholder="Entrer une description du produit"></textarea>
                </div>
                <div class="button_section">
                    <button class="button" @click="save()">Save</button>
                    <a href="products.html" class="button button--delete">Cancel</a>
                </div>
            </div> 
        </main>
        <div class="overlayer" id="overlayer">
            <div class="overlayer__quit" id="overlayer_quit" @click="hide_overlay"><i class="fas fa-times"></i></div>
            <div class="cover_crop">
                <div class="cover_crop__preview" id="cover_demo"></div>
                <div class="cover_crop__button button_section"><button class="button" id="cover_save_button">Add Image</button></div>
            </div>
        </div>
    </div>
    <script src="src/components/header.js"></script>
    <script src="src/components/loader.js"></script>
    <script src="/src/js/croppier.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                id: null,
                name: null,
                type: null,
                size: null,
                price: null,
                description: null,
                id: null,
            },
            methods: {
                save: function(){
                    let title_field = document.getElementById("ProductName");
                    let price_field = document.getElementById("ProductPriceInBytes");
                    let size_field = document.getElementById("ProductSizeInBytes");
                    let description = document.getElementById("ProductDescription");
                    const error_border = "2px solid #d50000";
                    
                    if(AkanaCookie.get("uploading_image") === null){
                        document.querySelector(".product__cover").style.border = error_border;
                        return;
                    }
                    if(title_field.value.length === 0){
                        document.querySelector(".product__cover").style.borderColor = "transparent";
                        title_field.style.border = error_border;
                        return;
                    }
                    else if(size_field.value.length === 0){
                        title_field.style.borderColor = "transparent";
                        size_field.style.border = error_border;
                        return;
                    }
                    else if(isNaN(price_field.value) === true || price_field.value.length === 0){
                        size_field.style.borderColor = "transparent";
                        price_field.style.border = error_border;
                        return;
                    }
                    else if(description.value.length === 0){
                        price_field.style.borderColor = "transparent";
                        description.style.border = error_border;
                        return;
                    }


                    let form = {
                        "name": this.name,
                        "type": this.type,
                        "size": this.size,
                        "price": this.price,
                        "description": this.description,
                        "image": AkanaCookie.get("uploading_image")
                    };

                    // to edit
                    if(this.id !== null){
                        axios.put(base_url + "/products/" + this.id + "/", form).then(response => {
                            AkanaCookie.delete("uploading_image");
                            if(response.status == 202){
                                window.location.replace('/products.html');
                            }
                            else{
                                alert("Product not saved");
                            }
                        });   
                    }

                    // to post
                    else{
                        axios.post(base_url + "/products/", form).then(response => {
                            AkanaCookie.delete("uploading_image");
                            if(response.status == 201){
                                window.location.replace('/products.html');
                            }
                            else{
                                alert("Product not saved");
                            }
                        });   
                    }
                },
                hide_overlay: function(){
                    console.log("hide overlay");
                    document.getElementById("overlayer").style.display="none";
                }
            },
            created() {
                get_url_param = function(x) {
                    let url_params = new URLSearchParams(window.location.search);
                    return url_params.get(x);
                };

                let id = get_url_param("id");

                if(id){
                    axios.get(base_url + "/products/" + id + "/").then(response => {
                        let product = response.data;
                        app.name = product.name;
                        app.size = product.size;
                        app.price = product.price;
                        app.description = product.description;
                        app.id = id;
                        document.querySelector("#imagePreview img").src = data_folder + product.image;
                        document.querySelector("#imagePreview img").style.display = "block";
                        AkanaCookie.set("uploading_image", product.image);
                    });
                }
            }
        })
    </script>
</body>
</html>