header{
    background-color: $main_color;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px $page_margin;
    align-items: center;

    .logo{
        height: 40px;
        width: 50px;
        background-color: #eee;
    }
    a{
        color: #fff;
    }
    .nav{
        display:flex;
        justify-content: center;
    }
    li{
        margin: 0px  20px;
    }
}
