header{
    background-color: $main_color;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px $page_margin;
    align-items: center;

    .logo{
        height: 40px;
        width: 50px;
        background-color: #eee;
    }
    a{
        color: #fff;
        transition: 0.3s all;

        &:hover{
            color: $second_color;
        }
    }
    .nav{
        display:flex;
        justify-content: center;
    }
    li{
        margin: 0px  20px;
    }
    .actions{
        i{
            font-size: 25px;
        }
        .message_counter{
            background-color: #d50000;
            color: #fff;
            padding: 3px 5px;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 800;
            position: relative;
            left: -10px;
            top: 5px;
        }
    }
}
